h3.charte {
	text-transform : uppercase;
	color : #660000;
}

p.charte {
	text-indent : 0.8cm;
}

div.chartepic {
	text-align : center;
}

div.chartepdf {
	text-align : center;
	padding : 1.3cm 0cm;
}

div.charteapologize {
	text-align : center;
	padding : 0.2cm 0cm;
	font-weight : 700;
	color : #cc6600;
}

@media only screen
and (min-width:64em) {

div.chartebody {
	padding-left: 15mm;
	padding-right : 20mm;
}

}
